# docker cruft
**/.DS_Store
**/.env
**/.env.*
!.env.example

# mysql & volumes
db_data/
**/mysql/
**/*.sql
**/*.gz

# ignore any nested git repos in extensions/skins
mediawiki/extensions/*/.git
mediawiki/skins/*/.git

# keep lock files, ignore vendor dirs
mediawiki/extensions/*/vendor/
mediawiki/skins/*/vendor/

# editor/OS
*.swp
*.swo
.idea/
.vscode/

# Generated sitemaps
static/sitemap/**
!static/sitemap/.gitkeep
static/sitemap.xml
